/**
 * Helper mixins
*/

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Media queries

@mixin bp($width, $type : min) {
  @if map_has_key($breakpoints, $width){
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media (#{$type}-width:$width){
      @content;
    }
  }
}

// Border style
@mixin border($direction,$size,$colour) {
  @if $direction != "" {
      border-#{$direction}: $size solid $colour;
  } @else {
    border: $size solid $colour;
  }
}

// Transition
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Icon ::before
@mixin before-content($value) {
  @if map_has_key($content-value, $value){
    $content: map_get($content-value, $value);
    &::before {
      font-family: "Font Awesome 5 Free";
      content: $content;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      font-weight:100;;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      padding-right: 5px;
    }
  }
  
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
  ::-moz-selection { // sass-lint:disable-line no-vendor-prefixes
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }

  ::selection {
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }
}

//Placeholders
//Usage:
//@include placeholder;
@mixin placeholder {
  // sass-lint:disable no-vendor-prefixes
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

